<%- include('header') %>
<div class="container mt-5">
  <div class="col-12">
    <div class="text-and-image">
      <div class="text">
        <h2>The Best Culinary Experience in Town</h2>
        <p>
          "Harmony of Flavors: The Best Culinary Experience in Town" invites you
          to embark on a sensational culinary journey. Our skilled chefs craft
          dishes that blend innovation with tradition, using the finest local
          ingredients and global inspirations. Whether it's an intimate dinner
          or a grand celebration, our restaurant promises a symphony of tastes
          that will delight your senses and create unforgettable memories. Join
          us and savor the art of gastronomy at its finest.
        </p>
        <div class="col-12 my-4">
          <a
            href="/menus"
            class="btn btn-md bg-dark text-white capitalize-text rounded"
            >Explore Menu</a
          >
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <img
                src="https://www.restolacuisine.com/restaurants/restaurant-la-cuisine/website/images/Lacuisine_resto.jpg"
                class="image2"
              />
            </div>
            <div class="col-6">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Restaurant_N%C3%A4sinneula.jpg/640px-Restaurant_N%C3%A4sinneula.jpg"
                class="image2"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="image-container">
        <div class="cropped-image"></div>
      </div>
    </div>
  </div>
</div>
<%- include('footer.ejs') %>
