<%- include('../header') %>
<div class="container mt-5 custom-container">
  <div class="col-12 text-center">
    <h3>
      <b>About Us</b>
    </h3>
    <p>
      Welcome to Harmony of Flavors, where we elevate dining to an art form.
      Located in the heart of Malang, our culinary journey began with a simple
      yet profound passion for extraordinary food. Our dedicated team, led by
      the visionary chef, strives to create a symphony of flavors using the
      freshest, locally-sourced ingredients.
    </p>
    <p>
      Our commitment to excellence extends to every aspect of your visit. Our
      menu, crafted by our talented chefs under the guidance of our head chef,
      offers a diverse range of culinary experiences suitable for all occasions.
      Whether it's a romantic dinner, a celebration, or a casual gathering, we
      provide an inviting ambiance and impeccable service to ensure your dining
      experience is exceptional.
    </p>
    <p>
      At Harmony of Flavors, we're not just about great food; we're about
      building a harmonious community through sustainable practices and a deep
      connection with our surroundings. Join us on this culinary journey, and
      let us take you on a flavorful adventure that will leave you with lasting
      memories. Thank you for choosing Harmony of Flavors – your destination for
      the best culinary experience in town.
    </p>
  </div>
</div>
<%- include('../footer') %>
