<%- include('../header') %>
<div class="container mt-5 text-center custom-container">
  <h1>
    This website is currently under development. Please stay tuned for the
    latest features.
  </h1>
</div>
<%- include('../footer') %>
